[access]
	inheritFrom = All-Projects

[submit]
[project]
	description = This plugin can send patches to ChatGPT for code review.
[access "refs/*"]
	owner = group chatgpt-maintainers
	owner = group user/Michael Nazzareno Trimarchi (panicking)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group chatgpt-lead
	label-Code-Review = -2..+2 group chatgpt-maintainers
	label-Code-Review = -2..+2 group user/Michael Nazzareno Trimarchi (panicking)
	label-Verified = -1..+1 group chatgpt-dev
	label-Verified = -1..+1 group user/Michael Nazzareno Trimarchi (panicking)
	push = group chatgpt-maintainers
	push = group user/Michael Nazzareno Trimarchi (panicking)
	read = group chatgpt-dev
	read = group chatgpt-lead
	read = group chatgpt-maintainers
	read = group chatgpt-tag
	read = group user/Michael Nazzareno Trimarchi (panicking)
	rebase = group user/Michael Nazzareno Trimarchi (panicking)
	removeReviewer = group chatgpt-dev
	removeReviewer = group chatgpt-lead
	removeReviewer = group chatgpt-maintainers
	removeReviewer = group user/Michael Nazzareno Trimarchi (panicking)
	submit = group chatgpt-maintainers
	submit = group user/Michael Nazzareno Trimarchi (panicking)
[access "refs/heads/*"]
	create = group chatgpt-tag
	create = group user/Michael Nazzareno Trimarchi (panicking)
	push = group chatgpt-tag
	push = +force group user/Michael Nazzareno Trimarchi (panicking)
	pushMerge = group user/Michael Nazzareno Trimarchi (panicking)
	read = group user/Michael Nazzareno Trimarchi (panicking)
[access "refs/tags/*"]
	push = group chatgpt-tag
	push = group user/Michael Nazzareno Trimarchi (panicking)
	push = +force group user/Michael Nazzareno Trimarchi (panicking)
[commentlink "amarula-issues"]
	match = Bug: Issue ([0-9]+)
	link = https://issues.gerritcodereview.com/issues/$1
